{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                <a href="{% url 'book' book.slug %}">
                    <h2>{{ book.name }}</h2>
                </a>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
        </div>

        <p></p>

        <div class="previous-next-book">
            {% if previous_book %}
                <a class="button button-primary col-md-2" href="{% url 'book' previous_book.slug %}">< {{ previous_book.slug }}</a>
            {% endif %}

            {% if next_book %}
                <a class="button button-primary" href="{% url 'book' next_book.slug %}">{{ next_book.slug }} ></a>
            {% endif %}
        </div>
    </div>
{% endblock %}